.quiz-game {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.hidden {
  display: none;
}

#options {
  display: grid;
  gap: 10px;
  margin: 14px 0;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #6366f1;
  color: white;
}

button:hover {
  background: #4f46e5;
}
